<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
	</configSections>
	<connectionStrings>
		<add name="MealSystem" connectionString="Data Source=DESKTOP-P47EG6S\SQLEXPRESS;Initial Catalog=Mealdb;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />
		<add name="Store.Properties.Settings.StoreShopConnectionString"
		 connectionString="Data Source=DESKTOP-P47EG6S\SQLEXPRESS;Initial Catalog=Mealdb;Integrated Security=True;TrustServerCertificate=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>